# ----------------------
# Flask
# ----------------------
flask
requests


# ----------------------
# Image processing
# ----------------------
# pillow
# torchvision


# ----------------------
# Production Server
# ----------------------
gevent
gunicorn
